.cf-switch{
    -cf-color: -pt-danger;
    -fx-cursor: hand;
}
.cf-switch > .container{
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-pref-height: 32px;
}
.cf-switch:selected{
    -cf-color: -pt-accent-teal;
}
.cf-switch:selected > .container{
    -fx-text-fill: -pt-accent-teal;
}
