.vBox {
    -fx-padding: 0;
}
.vBox > .label {
    -fx-border-color: linear-gradient(to right,transparent 0%, -main-lineno-color 30%, -main-lineno-color 70%, transparent 100%);
    -fx-padding: 10 10 10 20;
    -fx-border-width: 0 0 1 0;
    -fx-cursor: hand;
}
.vBox > .label:hover {
    -fx-background-color: -main-menuBg-color;
}
.noContentTitlePane > .title > .arrow-button > .arrow {
    -fx-background-color:  transparent!important;
    -fx-fill: transparent!important;
    -fx-shape: null!important;
}
.noContentTitlePane:hover > .title {
     -fx-background-color: -main-menuBg-color;
 }
.cellHBox{
    -fx-background-color: -main-cell-color;
    -fx-background-radius: 8;
    -fx-padding: 10;
}
.stackPane:hover .cellHBox {
    -fx-background-color: -main-menuBg-color;
}
.tipIcon{
    -fx-pref-width: 15;
    -fx-pref-height: 20;
    -fx-max-width: 15;
    -fx-max-height: 20;
    -fx-shape: "M826 64H198a70 70 0 0 0-70 70v786a40 40 0 0 0 67.72 28.82l315.1-181.92L836 954.63h0.09c0.55 0.32 1.11 0.62 1.68 0.91h0.09c0.57 0.29 1.14 0.57 1.73 0.83h0.11c0.56 0.25 1.12 0.49 1.7 0.71l0.2 0.08c0.52 0.21 1.06 0.4 1.59 0.58l0.34 0.11c0.48 0.16 1 0.31 1.45 0.45l0.52 0.14c0.42 0.12 0.85 0.23 1.28 0.33l0.71 0.16 1.12 0.22 0.9 0.17 1 0.14 1.06 0.13c0.28 0 0.57 0.06 0.86 0.09l1.15 0.09h3.9c0.38 0 0.76 0 1.13-0.05h0.63c0.49 0 1-0.08 1.47-0.14h0.18a39.68 39.68 0 0 0 17.72-6.65l0.17-0.12c0.46-0.32 0.91-0.64 1.35-1l0.62-0.49c0.29-0.23 0.59-0.45 0.87-0.69s0.51-0.44 0.76-0.66 0.47-0.4 0.69-0.61 0.49-0.45 0.73-0.68l0.69-0.68c0.2-0.2 0.39-0.41 0.58-0.61s0.54-0.56 0.8-0.85l0.4-0.47c0.32-0.36 0.63-0.72 0.93-1.1l0.21-0.27c0.37-0.46 0.72-0.92 1.06-1.4l0.05-0.06a40 40 0 0 0 5.48-10.63c0.2-0.58 0.37-1.17 0.54-1.76l0.06-0.22c0.15-0.52 0.27-1 0.4-1.55 0-0.16 0.07-0.31 0.1-0.47 0.1-0.43 0.19-0.88 0.27-1.32l0.12-0.71c0.06-0.37 0.12-0.74 0.17-1.12l0.12-0.92 0.09-1c0-0.35 0.06-0.71 0.08-1.07s0-0.58 0.05-0.88v-1.12V134a70 70 0 0 0-70-70z m-10 786.72l-225.18-130-80-46.19-80 46.19L208 849.36V184a40 40 0 0 1 40-40h528a40 40 0 0 1 40 40zM664 256H360a40 40 0 0 0 0 80h304a40 40 0 0 0 0-80z";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.tipHBox{
    -fx-padding: 10 10 0 10;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: linear-gradient(to right,transparent 0%, -main-lineno-color 20%, -main-lineno-color 80%, transparent 100%);
}
.addIcon{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M512 992C246.912 992 32 777.088 32 512 32 246.912 246.912 32 512 32c265.088 0 480 214.912 480 480 0 265.088-214.912 480-480 480z m0-64c229.76 0 416-186.24 416-416S741.76 96 512 96 96 282.24 96 512s186.24 416 416 416zM256 544a32 32 0 0 1 0-64h512a32 32 0 0 1 0 64H256zM480 256a32 32 0 0 1 64 0v512a32 32 0 0 1-64 0V256z";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.addIcon:hover{
    -fx-background-color: -main-border-color;
}
.addIcon:pressed{
    -fx-background-color: -main-borderHover-color;
}
.changeIcon{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M506.513395 1024h-385.059912c-52.172625 0-94.569118-42.496249-94.569119-94.569118V97.162786c0-52.172625 42.396493-94.569118 94.569119-94.569118h94.569118c10.374671 0 18.953726 8.479299 18.953726 18.953726 0 10.374671-8.479299 18.953726-18.953726 18.953726h-94.569118c-31.323527 0-56.761422 25.437896-56.761423 56.761423v832.367852c0 31.323527 25.437896 56.761422 56.761423 56.761422h385.059912c10.374671 0 18.953726 8.479299 18.953726 18.953726s-8.479299 18.654457-18.953726 18.654457zM329.645202 40.401364h-37.807696c-10.374671 0-18.953726-8.479299-18.953726-18.953726s8.479299-18.953726 18.953726-18.953727h37.807696c10.374671 0 18.953726 8.479299 18.953726 18.953727s-8.579055 18.953726-18.953726 18.953726zM764.683098 267.147784H197.168631c-10.374671 0-18.953726-8.479299-18.953726-18.953727 0-10.374671 8.479299-18.953726 18.953726-18.953726h567.514467c10.374671 0 18.953726 8.479299 18.953726 18.953726-0.099756 10.374671-8.579055 18.953726-18.953726 18.953727zM764.683098 455.388212H197.168631c-10.374671 0-18.953726-8.479299-18.953726-18.953726 0-10.374671 8.479299-18.953726 18.953726-18.953726h567.514467c10.374671 0 18.953726 8.479299 18.953726 18.953726-0.099756 10.374671-8.579055 18.953726-18.953726 18.953726zM460.824939 641.533755H197.168631c-10.374671 0-18.953726-8.479299-18.953726-18.953726s8.479299-18.953726 18.953726-18.953726h263.756065c10.374671 0 18.953726 8.479299 18.953726 18.953726s-8.579055 18.953726-19.053483 18.953726z m0 0M992.925865 712.161325c-36.111836-60.252898-35.513298-61.449976-35.513298-61.449976s-124.695567 34.914759-147.938821-84.593473h-72.323429s-19.951291 119.707745-147.340283 84.294204c-36.810132 61.449976-38.007209 63.245592-38.206722 63.345348 0.099756 0 99.756454 69.729761 0 164.29888l38.705504 63.644617s110.131125-47.484072 146.242962 82.299075h73.121481s22.943984-119.208962 146.741743-83.994934c35.313785-60.153142 35.912323-60.851437 35.912324-60.851437s-93.372041-80.503458 0.598539-166.992304zM771.765806 925.939406c-72.223673 0-130.780711-58.557038-130.780711-130.780711 0-72.323429 58.557038-130.780711 130.780711-130.780712 72.323429 0 130.880468 58.557038 130.880468 130.780712 0 72.223673-58.656795 130.780711-130.880468 130.780711zM840.29849 2.493911H405.859133c-9.875889 0-18.355188 7.282221-19.352752 17.15811-1.097321 11.172723 7.88076 20.749342 18.85397 20.749343h434.938139c31.423283 0 56.761422 25.437896 56.761422 56.761422v421.770288c0 10.374671 8.479299 18.953726 18.953727 18.953726 10.374671 0 18.953726-8.479299 18.953726-18.953726V97.162786c-0.099756-52.272382-42.396493-94.668875-94.668875-94.668875z";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.changeIcon:hover{
    -fx-background-color: -main-border-color;
}
.changeIcon:pressed{
    -fx-background-color: -main-borderHover-color;
}
.delIcon{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M3.303226 122.350979h1017.389347v52.851394H3.303226zM798.452459 127.107604h-52.851395V105.702789a52.851395 52.851395 0 0 0-52.851395-52.851394H360.578654a52.851395 52.851395 0 0 0-52.851395 52.851394v21.404815h-52.851395V105.702789a105.702789 105.702789 0 0 1 105.70279-105.702789h332.171015a105.702789 105.702789 0 0 1 105.70279 105.702789zM790.52475 1023.995772H281.830076a132.128487 132.128487 0 0 1-132.128487-132.128487l-26.425697-769.516306h826.860069l-26.425697 770.573334a132.128487 132.128487 0 0 1-133.185514 131.071459zM177.184314 175.202373l26.425698 715.872141a79.277092 79.277092 0 0 0 79.277092 79.277092h507.637646a79.277092 79.277092 0 0 0 79.277092-79.277092l26.425697-716.664912zM351.858174 334.285071h48.359026v477.776608h-48.359026zM513.583441 334.285071h48.359027v477.776608h-48.359027zM675.572966 334.285071h48.359026v477.776608h-48.359026z";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.delIcon:hover{
    -fx-background-color: -main-border-color;
}
.delIcon:pressed{
    -fx-background-color: -main-borderHover-color;
}
.regionVBox{
    visibility: hidden;
}
.stackPane:hover .regionVBox{
    visibility: visible;
}