#tipTitle {
    -fx-pref-width: 126;
    -fx-min-width: 126;
}
#ipField{
    -fx-padding: 11 20 11 70;
    -fx-border-radius: 26;
    -fx-background-radius: 26;
}
#portField{
    -fx-padding: 11 20 11 75;
    -fx-border-radius: 26;
    -fx-background-radius: 26;
}
.textFieldLeft{
    -fx-padding: 11 17 11 17;
    -fx-border-radius: 26 0 0 26;
    -fx-background-radius: 26 0 0 26;
    -fx-background-color: -pt-bg-elevated;
}
.comboBoxLeft{
    -fx-border-color: -pt-border;
    -fx-padding: 11 17 11 17;
    -fx-border-radius: 26 0 0 26;
    -fx-background-radius: 26 0 0 26;
    -fx-background-color: -pt-bg-elevated;
    -fx-border-width: 1 0 1 1;
}
#shellComboBox{
    -fx-background-color: -pt-bg-panel;
    -fx-background-radius: 0 26 26 0;
    -fx-border-radius: 0 26 26 0;
    -fx-border-width: 1 1 1 0;
}
.commandInfoHBox{
    -fx-border-width: 1;
    -fx-border-color: -pt-border-subtle;
    -fx-border-radius: 8;
    -fx-padding: 10;
    -fx-spacing: 10;
}
#listView .list-cell {
    -fx-padding: 10 20 10 20;
}
.sysTitle{
    -fx-border-width: 1;
    -fx-border-color: -pt-border;
    -fx-border-radius: 5;
    -fx-padding: 3;
}
