#tipTitle {
    -fx-pref-width: 144;
    -fx-min-width: 144;
}
#question{
    -fx-padding: 11 42 11 20;
    -fx-border-radius: 26;
    -fx-background-radius: 26;
}
.send{
    -fx-pref-width: 26;
    -fx-pref-height: 26;
    -fx-max-width: 26;
    -fx-max-height: 26;
    -fx-shape: "M216.8 781.3C55.7 620.2 55.7 358 216.8 196.9s423.2-161.1 584.3 0 161.1 423.2 0 584.3-423.2 161.2-584.3 0.1z m530.9-530.9c-131.6-131.6-345.7-131.6-477.4 0-131.6 131.6-131.6 345.7 0 477.3 131.6 131.6 345.7 131.6 477.3 0 131.7-131.5 131.7-345.7 0.1-477.3zM890.2 947.9c-9.6 0-19.2-3.6-26.5-10.9L741.2 816.5c-14.9-14.7-15.1-38.6-0.4-53.5 14.7-14.9 38.6-15.1 53.5-0.4l122.5 120.5c14.9 14.7 15.1 38.6 0.4 53.5-7.5 7.5-17.2 11.3-27 11.3zM487.4 275.6c-7.1-7.1-11.3-16.9-11.1-27.7 0.6-20.9 17.9-37.4 38.8-36.8 72.9 1.9 141.5 31.4 193.1 83 14.8 14.8 14.8 38.7 0 53.5-14.8 14.8-38.7 14.8-53.5 0-37.8-37.8-88.1-59.5-141.6-60.8-10.1-0.4-19.1-4.6-25.7-11.2zM723.9 484.2c-5.5-5.5-9.4-12.8-10.6-21.1-1.5-10.2-3.9-20.5-7-30.5-6.2-20 4.9-41.2 24.9-47.4 20-6.2 41.2 4.9 47.4 24.9 4.3 13.7 7.5 27.7 9.6 41.7 3.1 20.6-11.1 39.9-31.7 43-12.5 1.9-24.4-2.4-32.6-10.6z";
    -fx-background-color: -main-border-color;
}
.send:pressed{
    -fx-background-color: -main-borderHover-color;
}
.stop{
    -fx-pref-width: 26;
    -fx-pref-height: 26;
    -fx-max-width: 26;
    -fx-max-height: 26;
    -fx-shape: "M924.8 337.6c-22.6-53.3-54.9-101.3-96-142.4-41.1-41.1-89.1-73.4-142.4-96C631.1 75.8 572.5 64 512 64S392.9 75.8 337.6 99.2c-53.3 22.6-101.3 54.9-142.4 96s-73.4 89.1-96 142.4C75.8 392.9 64 451.5 64 512s11.8 119.1 35.2 174.4c22.6 53.3 54.9 101.3 96 142.4 41.1 41.1 89.1 73.4 142.4 96C392.9 948.2 451.5 960 512 960s119.1-11.8 174.4-35.2c53.3-22.6 101.3-54.9 142.4-96 41.1-41.1 73.4-89.1 96-142.4C948.2 631.1 960 572.5 960 512s-11.8-119.1-35.2-174.4zM662 867.1c-47.5 20.1-98 30.3-150 30.3s-102.5-10.2-150-30.2c-45.8-19.3-87-47.1-122.5-82.6-35.5-35.5-63.3-76.7-82.6-122.5-20.1-47.5-30.3-98-30.3-150s10.2-102.5 30.2-150c19.3-45.8 47.1-87 82.6-122.5 35.5-35.5 76.7-63.3 122.5-82.6 47.5-20.1 98-30.3 150-30.3s102.5 10.2 150 30.2c45.8 19.3 87 47.1 122.5 82.6C819.9 275 847.7 316.2 867 362c20.1 47.5 30.3 98 30.3 150s-10.2 102.5-30.2 150c-19.3 45.8-47.1 87-82.6 122.5-35.5 35.4-76.7 63.2-122.5 82.6zM621.7 326.1H402.3c-42 0-76.2 34.2-76.2 76.2v219.3c0 42 34.2 76.2 76.2 76.2h219.3c42 0 76.2-34.2 76.2-76.2V402.3c0.1-42-34.1-76.2-76.1-76.2z m12.6 76.2v219.3c0 6.9-5.7 12.6-12.6 12.6H402.3c-6.9 0-12.6-5.7-12.6-12.6V402.3c0-6.9 5.7-12.6 12.6-12.6h219.3c7 0 12.7 5.7 12.7 12.6z";
    -fx-background-color: -main-border-color;
}
.stop:pressed{
    -fx-background-color: -main-borderHover-color;
}
.upload{
    -fx-pref-width: 26;
    -fx-pref-height: 26;
    -fx-max-width: 26;
    -fx-max-height: 26;
    -fx-shape: "M109.714286 950.710857c0-0.146286 74.605714-0.073143 223.817143 0.146286v73.142857H110.08A73.728 73.728 0 0 1 36.571429 950.710857V73.069714C36.571429 32.694857 69.705143 0 109.494857 0h439.296c40.228571 0 90.843429 26.916571 113.664 61.147429L719.213714 146.285714H1133.714286c40.448 0 73.216 33.353143 73.216 73.289143v731.136c0 40.448-33.353143 73.289143-73.435429 73.289143h-217.526857v-73.142857h217.526857s0-243.785143 0.292572-731.282286c0 0.146286-151.186286 0-453.632-0.146286L601.6 101.668571C592.457143 87.990857 564.809143 73.142857 548.790857 73.142857H109.494857c0.146286 0 0.219429 292.498286 0.219429 877.568zM658.285714 518.290286V987.428571c0 20.187429-16.969143 36.571429-36.571428 36.571429-20.187429 0-36.571429-16.822857-36.571429-36.571429V518.290286L491.958857 611.474286a36.571429 36.571429 0 0 1-51.2-0.438857 35.986286 35.986286 0 0 1-0.585143-51.2l156.16-156.233143a35.328 35.328 0 0 1 25.380572-10.24 34.230857 34.230857 0 0 1 25.380571 10.24l156.16 156.16a36.571429 36.571429 0 0 1-0.512 51.2 35.986286 35.986286 0 0 1-51.2 0.512L658.285714 518.290286zM548.790857 73.142857H109.494857c0.146286 0 0.219429 292.498286 0.219429 877.568 0-0.146286 74.605714-0.073143 223.817143 0.146286v73.142857H110.08A73.728 73.728 0 0 1 36.571429 950.710857V73.069714C36.571429 32.694857 69.705143 0 109.494857 0h439.296c40.228571 0 90.843429 26.916571 113.664 61.147429L719.213714 146.285714H1133.714286c40.448 0 73.216 33.353143 73.216 73.289143v731.136c0 40.448-33.353143 73.289143-73.435429 73.289143h-217.526857v-73.142857h217.526857s0-243.785143 0.292572-731.282286c0 0.146286-151.186286 0-453.632-0.146286L601.6 101.668571C592.457143 87.990857 564.809143 73.142857 548.790857 73.142857z";
    -fx-background-color: -main-border-color;
}
.upload:pressed{
    -fx-background-color: -main-borderHover-color;
}
#settingVbox {
    -fx-border-color: -main-border-color;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}
#topLeftTitle {
    -fx-background-color: -main-topBar-color;
    -fx-background-radius: 5;
    -fx-border-color: -main-lineno-color;
    -fx-border-width: 0 1 1 0;
    -fx-padding: 10;
}
#bottomLeftTitle {
    -fx-background-color: -main-topBar-color;
    -fx-background-radius: 5;
    -fx-border-color: -main-lineno-color;
    -fx-border-width: 0 1 0 0;
}
#topRightTitle {
    -fx-border-color: -main-lineno-color;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10;
}
#bottomRightTitle {
    -fx-padding: 10;
}
.deleteField:hover{
    -fx-background-color: -main-border-color;
}
.deleteField:pressed{
    -fx-background-color: -main-borderHover-color;
}
.buttonBox{
    -fx-padding: 8;
}
.addButtonBox{
    -fx-padding: 5 10 5 10;
}
.choosePaneBox{
    /*-fx-background-color: rgba(0, 0, 0, 0.3);*/
    /*-fx-background-radius: 8;*/
    /*-fx-padding: 0;*/
}
.choosePane{
    -fx-background-color: -main-btnContent-color;
    -fx-background-radius: 8;
}
.titleHbox{
    -fx-background-color: -main-topBar-color;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 10;
}
.contentVbox{
    -fx-padding: 10 20 20 20 20;
}

.paddingRightButton{
    -fx-padding: 5 25 5 5;
}
.rightButton{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}
.delIcon{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M511.7606 0.479775c282.637514 0 511.760112 229.122599 511.760112 511.760113s-229.122599 511.760112-511.760112 511.760112-511.760112-229.122599-511.760113-511.760112c0.009995-282.637514 229.132594-511.760112 511.760113-511.760113z m0 950.414493c242.266438 0 438.654381-196.387943 438.65438-438.65438 0-242.236452-196.407934-438.654381-438.65438-438.654381-242.236452 0-438.654381 196.407934-438.654381 438.654381 0.009995 242.246447 196.417929 438.654381 438.654381 438.65438zM219.337673 512.239888c0-20.18054 16.36233-36.552866 36.552866-36.552866h511.760112c20.18054 0 36.552866 16.36233 36.552866 36.552866s-16.36233 36.552866-36.552866 36.552865h-511.760112c-20.030611-0.389817-36.173044-16.522255-36.552866-36.552865z m0 0";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.delIcon:hover{
    -fx-background-color: -main-border-color;
}
.delIcon:pressed{
    -fx-background-color: -main-borderHover-color;
}
.addIcon{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M475.397511 475.467497V256.052496c0-20.18862 16.368881-36.5675 36.5675-36.5675s36.5675 16.368881 36.567501 36.5675V475.467497h219.415c20.18862 0 36.5675 16.368881 36.567501 36.567501s-16.368881 36.5675-36.567501 36.5675H548.532512v219.415001c0 20.18862-16.368881 36.5675-36.567501 36.5675-20.18862 0-36.5675-16.368881-36.5675-36.5675V548.602498H255.98251c-20.028631-0.389973-36.177527-16.52887-36.5675-36.5675 0-20.18862 16.368881-36.5675 36.5675-36.567501H475.397511zM511.965011 0.069995c282.750671 0 511.965002 229.214331 511.965003 511.965003s-229.214331 511.965002-511.965003 511.965002-511.965002-229.214331-511.965002-511.965002 229.214331-511.965002 511.965002-511.965003z m0 950.795004c242.363432 0 438.830002-196.46657 438.830002-438.830001 0-242.333434-196.486568-438.830002-438.830002-438.830002-242.333434 0-438.830002 196.486568-438.830002 438.830002s196.486568 438.830002 438.830002 438.830001z m0 0";
    -fx-background-color: -main-font-color;
    -fx-cursor: hand;
}
.addIcon:hover{
    -fx-background-color: -main-border-color;
}
.addIcon:pressed{
    -fx-background-color: -main-borderHover-color;
}
.selectImg{
    -fx-pref-width: 15;
    -fx-pref-height: 15;
    -fx-max-width: 15;
    -fx-max-height: 15;
    -fx-shape: "M512 1024C228.072727 1024 0 795.927273 0 512S228.072727 0 512 0s512 228.072727 512 512-228.072727 512-512 512z m0-930.909091c-232.727273 0-418.909091 186.181818-418.909091 418.909091s186.181818 418.909091 418.909091 418.909091 418.909091-186.181818 418.909091-418.909091-186.181818-418.909091-418.909091-418.909091zM279.272727 372.363636l-46.545454 93.090909 325.818182 325.818182L1024 186.181818l-46.545455-93.090909-465.454545 418.909091-232.727273-139.636364zM558.545455 828.509091l-358.4-358.4 65.163636-130.327273 237.381818 144.290909L977.454545 55.854545l65.163637 134.981819L558.545455 828.509091zM260.654545 460.8l293.236364 293.236364 442.181818-572.509091-27.927272-51.2-456.145455 409.6-223.418182-134.981818-27.927273 55.854545z";
    -fx-background-color: -main-border-color;
}
.numberLabel{
    -fx-border-width: 2;
    -fx-border-color: -main-linenoText-color;
    -fx-border-radius: 15;
}
.numberLabel> .text{
    -fx-fill: -main-linenoText-color;
}
.loaddingImg{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M144.205 202.496a136.678 136.678 0 1 0 273.357 0 136.678 136.678 0 1 0-273.357 0zM41.728 492.902a119.578 119.578 0 1 0 239.155 0 119.578 119.578 0 1 0-239.155 0zM144.23 749.158a102.502 102.502 0 1 0 205.005 0 102.502 102.502 0 1 0-205.005 0zM435.2 861.926a89.6 89.6 0 1 0 179.2 0 89.6 89.6 0 1 0-179.2 0z m289.843-95.666a85.427 85.427 0 1 0 170.855 0 85.427 85.427 0 1 0-170.855 0z m136.704-290.433a68.326 68.326 0 1 0 136.653 0 68.326 68.326 0 1 0-136.653 0zM759.22 219.571a51.251 51.251 0 1 0 102.502 0 51.251 51.251 0 1 0-102.503 0zM512 85.376a34.176 34.176 0 1 0 68.352 0 34.176 34.176 0 1 0-68.352 0z";
    -fx-background-color: -main-font-color;
}
.endImg{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-shape: "M899.644952 166.424381L350.854095 705.987048 125.232762 495.079619c-68.303238-63.853714-171.166476 38.607238-102.64381 102.64381l278.235429 260.096c29.062095 27.172571 73.74019 28.42819 102.643809 0l598.820572-588.739048c66.840381-65.706667-35.876571-168.313905-102.64381-102.656z";
    -fx-background-color: -main-border-color;
}
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-text-fill: -main-font-color;
    -fx-padding: 0;
    -fx-border-width: 0;
}
.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}