.stack{
    -fx-background-color: -main-topBar-color;
    -fx-border-color: -main-border-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-alignment: center;
}
#tipTitle_input_big .text{
    -fx-font-size: 25;
    -fx-fill: -main-border-color;
    -fx-font-family: "PingFang SC","Microsoft YaHei", Consolas, "Courier New", monospace;
    -fx-font-weight: bold;
    -fx-translate-y: -60;
}